<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- <pre>
        <code>
          Syntax: {{ Expression }}
        </code>
      </pre> -->
      <h1>{{ message }}</h1>
      <h1 class="{{ saySomethingCls }}">{{ saySomeThing }}</h1>
      <h1>{{ city }}</h1>
      <img src="{{ imgPath }}" alt="" width="150" height="150" />
      <img [src]=imgPath alt="" width="150" height="150" />

      <hr />
      <h1>Date Formate</h1>
      <h2>{{ customDate + "Today Time" }}</h2>
      <hr />
      <h1>{{ test() }}</h1>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr />
      <input type="number" class="form-control" [hidden]="isHidden" />
      <button [disabled]="isDisabled" class="btn btn-primary">Submit</button>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <hr>
      <h1>Property Binding</h1>
      <!-- <pre>
        <code>
          //Syntax: {{ //Property }}
        </code>
      </pre> -->
      Name:<input type="text">
      <button [disabled]="isbtnDisabled">Submit </button><br>
      Hidden: <input type="text" [hidden]="istxtHidden">

    </div>
  </div>
  <div class="row bg-secondary">
    <div class="col-lg-12">
      <hr>
      <h1 [class]= "isActive?'active':'inActive'">Class Binding</h1>
      <!-- <pre>
        <code>
          //Syntax: {{ //Property }}
        </code>
      </pre> -->
      <h1 [class]="{c1:true}">class minding 1</h1>
      <h1 [class]="{c1:applyC1}">class binding 2</h1>
      <h1 [class]="['c1', 'active']">class binding 3</h1>
    </div>
  </div>
  <div class="row bg-light border my-4">
    <div class="col-lg-12">
      <hr>
      <h1 [style]="{color:colorVar}">Style Binding</h1>
      <!-- <pre>
        <code>
          //Syntax: {{ //Property }}
        </code>
      </pre> -->
      <h1 [style.color]="colorVar">Style Binding 1</h1>
      <!-- <h1 [style.color]="myStyle">class binding 2</h1> -->
    </div>
  </div>
  <div class="row bg-secondary border my-4">
    <div class="col-lg-12 text-white">
      <h1>Event binding</h1>
      <!-- <pre>
        <code>
          //Syntax: (eventName) = somefun()
                    on-eventname = somefun()
        </code>
      </pre> -->
      <button (click)="increment()">Click and count</button>
      <button (click)="decrement()">Click and count</button>
      <h1>Counter: {{counter}}</h1>

      Name: <input type="text" (input)="changeName($event)">
      <!-- Name: <input type="text" on-input="changeName($event)"> -->
      <h1>Change you Name: {{name}}</h1>
    </div>
  </div>
  <div class="row bg-light py-4">
    <div class="col-lg-12">
      <h1>Two way binding in Angular</h1>
      City Name:<input type="text" [(ngModel)]="cityName">
      <h1>{{cityName}}</h1>
      <button (click)="bindDate()">Bind Data</button>
    </div>
  </div>
  <div class="row bg-secondary py-4 text-white">
    <div class="col-lg-12">
      <h1>NgIf Directives</h1>
      <h3 *ngIf="!isShow">NgIf Directive</h3>
    </div>
    <div class="col-lg-12">
      <h1>NgFor Directives</h1>
      <h3>
        <table>
          <tr *ngFor = "let student of studentList">
            <td>{{student}}</td>
          </tr>
        </table>
      </h3>
    </div>
  </div>
  <div class="row bg-light py-4 ">
    <div class="col-lg-12">
      <h1>NgIf Directives</h1>
      <h3 *ngIf="!isShow">NgIf Directive</h3>
    </div>
    <div class="col-lg-12">
      <h1>NgFor Directives</h1>
      <h3>
        <table>
          <tr *ngFor = "let student of studentList">
            <td>{{student}}</td>
          </tr>
        </table>
      </h3>
    </div>
  </div>
  <div class="row bg-secondary py-4 text-white">
    <div class="col-lg-12">
      <h1>NgIf, NgIf else, NgIf Then else  Statements</h1>
      <hr>
      <!-- <h3 *ngIf="0">NgIf Directive</h3> -->
      <h3 *ngIf="1">NgIf Statement 1</h3>
      <!-- <h3 *ngIf="!data; else myCondition ">NgIf Statement Loading.....</h3> -->
      <!-- <div *ngIf="data">
        <h4>{{data}}</h4>
      </div> -->
      <!-- <ng-template #myCondition>
        <h4>{{data}}</h4>
      </ng-template> -->

       <h3 *ngIf="!data; then load; else myCondition"></h3>

      <ng-template #myCondition>
        <h4>{{data}}</h4>
      </ng-template>
      <ng-template #load>
        <h4>Loading.....</h4>
      </ng-template>
    </div>
  </div>
  <!-- NgFor Statement Start -->
  <div class="row bg-light  py-4">
    <div class="col-lg-12">
      <h1>NgFor Statements</h1>
      <h2>Variable: index, first, last, even, odd</h2>
      <hr>
      <!-- <h4 *ngFor="let n of nums"> {{n}} Paragraph </h4> -->
      <h4 *ngFor="let n of nums; index as i"> {{i}} Paragraph {{n}}   </h4>
    </div>
    <div class="col-lg-12">
      <table border="1" cellPadding="1" cellSpacing="1" width="100%">
        <tr>
          <th>Emp ID</th>
          <th>Emp Name</th>
          <th>Job Title</th>
          <th>Experiance</th>
          <th>Location</th>
        </tr>
        <tr *ngFor="let emp of empTable">
          <td>{{emp.empID}}</td>
          <td>{{emp.empName}}</td>
          <td>{{emp.jobTitle}}</td>
          <td>{{emp.experiance}}</td>
          <td>{{emp.location}}</td>
        </tr>
      </table>
    </div>
  </div>
  <!-- NgFor Statement End -->
 <!-- ngSwitch  Statement Start-->
  <div class="row bg-secondary py-4 text-white">
    <div class="col-lg-12">
      <h1>ngSwitch  Statement</h1>
      <hr>
      <input type="text" [(ngModel)] ="op">
      <div [ngSwitch]="op" style="font-size: 45px;">
        <div *ngSwitchCase="'+'">{{num1}}+{{num2}} = {{num1+num2}}</div>
        <div *ngSwitchCase="'-'">{{num1}}-{{num2}} = {{num1-num2}}</div>
        <div *ngSwitchCase="'*'">{{num1}}*{{num2}} = {{num1*num2}}</div>
        <div *ngSwitchCase="'/'">{{num1}}/{{num2}} = {{num1/num2}}</div>
        <div *ngSwitchDefault="'+'">Invalid Match</div>
      </div>
    </div>
  </div>
  <!-- ngSwitch Statement end-->
  <!-- Pipes in Angular Start -->
  <div class="row bg-light  py-4 border">
    <div class="col-lg-12">
      <h1>Pipes:</h1>
      <h3>Used to transform data before displaying it on in the browser</h3>
      <h1>Syntax: Expression | pipname [:parameters]</h1>
      <h3>Ex: 'angular' | uppercase</h3>
      <ol style="font-size: 32px;">
        <li>CurrencyPipe</li>
        <li>DatePipe</li>
        <li>DecimalPipe</li>
        <li>JsonPipe</li>
        <li>LowerCasePipe</li>
        <li>UpperCasePipe</li>
        <li>PercentPipe</li>
        <li>SlicePipe</li>
        <li>AsyncPipe</li>
      </ol>
      <hr>
      <h3>{{upipeName | uppercase}}</h3>
      <h3>{{tpipeName | titlecase}}</h3>
      <h3>{{lpipeName | lowercase}}</h3>
      <h3>CurrencyPipe: {{salaryPipe | currency}}</h3>
      <h3>CurrencyPipe: {{salaryPipe | currency : 'INR'}} </h3>
      <h3>CurrencyPipe: {{salaryPipe | currency : 'INR' : 'code'}} </h3>
      <h3>CurrencyPipe: {{salaryPipe | currency : 'INR' : 'symbol'}} </h3>
      <h3>JsonPipe: {{jsonPipePerson | json}}</h3>
      <h3>DatePipe: {{dobPipe}}</h3>
      <h3>DatePipe: {{dobPipe | date}}</h3>
      <h3>DatePipe: {{dobPipe | date : 'dd/MM/YYYY'}}</h3>
      <h3>PercentPipe: {{percentPipe}}</h3>
      <h3>PercentPipe: {{percentPipe | percent}}</h3>
      <h3>SlicePipe: {{company}}</h3>
      <h3>SlicePipe: {{company | slice:2:7}}</h3>
    </div>
  </div>
  <!-- Pipes in Angular End -->
  <!-- Custome Pipes in Angular start -->
  <div class="row bg-secondary py-4 text-white">
    <div class="col-lg-12">
      <h1>Custome Pipes in Angular</h1>
    </div>
  </div>
  <!-- Custome Pipes in Angular End -->
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12" style="height: 200px;">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
